/* Here I create the variables that I will use in order to not repeat myself  */
:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #d6d6d6;
  --black: #0f0f0f;
  --green: #369e36;
  --darkgreen: #1f571f;
  --orange: #c98b3a;
  --primary: #920707;
  --font-family: "Roboto", sans-serif;
}
/* This select is used for apply the properties to all the page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
/* I use this to apply the follow properties to the body */
body {
  background-color: #f8fafc;
}

/* I use this to apply the follow properties to the header */
header {
  padding: 20px;
  background-color: var(--white);
  color: var(--white);
}

h2 {
  font-size: 30px;
}

/* I use this to apply the follow properties to footer */
footer {
  padding: 15px;
  clear: both;
  text-align: center;
  background-color: var(--white);
  color: var(--primary);
}

/* I use this to apply the font size to 20 for the footer footer */
footer h2 {
  font-size: 20px;
}
/* This is to set that the main tag will have a width of 100% so it will cover all the screen  */
main {
  width: 100%;
}
/* This class is to have a margin of 30px on the top in order to have some space between the menu and the body*/
.row {
  margin-top: 30px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkClass {
  color: var(--primary);
  padding: 5px;
  text-decoration: none;
  border-bottom: 3px solid var(--primary);
  padding-left: 15px;
}

/* I use to change the border to unset  of the links when is the hover effect  */
.linkClass:hover {
  border: unset;
}

.timerClass {
  color: var(--primary);
  padding: 5px;
}

.timerClass span {
  font-size: 20px;
}

.colorGreen {
  color: var(--green);
}

.colorOrange {
  color: var(--orange);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box article {
  width: 500px;
  height: 500px;
  border: 2px solid #0f0f0f;
}
.box h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.box p {
  padding: 0 25px 15px 25px;
  text-align: justify;
  line-height: 25px;
}

.box button {
  text-align: center;
  align-items: center;
  line-height: 25px;
}

.elementsCenter {
  align-items: center;
  text-align: center;
}

/*This class is to set a style for the buttons  with the class greenButton */
.greenButton {
  background-color: var(--green);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
/*Added the style for the 'hover' effect */
.greenButton:hover {
  background-color: var(--darkgreen);
}

#highScoresList {
  margin-bottom: 15px;
}
