/* Here I create the variables that I will use in order to not repeat myself  */
:root {
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #d6d6d6;
  --black: #0f0f0f;
  --green: #369e36;
  --darkgreen: #1f571f;
  --orange: #c98b3a;
  --primary: #920707;
  --font-family: "Roboto", sans-serif;
  --purple: #5e369e;
  --darkpurple: #3e2468;
}
/* This select is used for apply the properties to all the page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
/* I use this to apply the follow properties to the body */
body {
  background-color: #f8fafc;
}

/* I use this to apply the follow properties to the header */
header {
  padding: 20px;
  background-color: var(--white);
  color: var(--white);
}

h2 {
  font-size: 30px;
}

/* I set the global properties from the buttons so I can reuse this elements an avoid duplicate css code */
button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 20px;
}

/* I use this to apply the follow properties to footer */
footer {
  padding: 15px;
  clear: both;
  text-align: center;
  background-color: var(--white);
  color: var(--primary);
}

/* I use this to apply the font size to 20 for the footer footer */
footer h2 {
  font-size: 20px;
}
/* This is to set that the main tag will have a width of 100% so it will cover all the screen  */
main {
  width: 100%;
}
/* Adding style to the input*/
input {
  border-radius: 20px;
  height: 41px;
  width: 333px;
  padding: 10px;
}
/* This class is to have a margin of 30px on the top in order to have some space between the menu and the body*/
.row {
  margin-top: 30px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkClass {
  color: var(--primary);
  padding: 5px;
  text-decoration: none;
  border-bottom: 3px solid var(--primary);
  padding-left: 15px;
}

/* I use to change the border to unset  of the links when is the hover effect  */
.linkClass:hover {
  border: unset;
}

.timerClass {
  color: var(--primary);
  padding: 5px;
}

.timerClass span {
  font-size: 20px;
}

.colorGreen {
  color: var(--green);
}

.colorOrange {
  color: var(--orange);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box article {
  width: 500px;
  height: 500px;
  border: 2px solid var(--gray-dark);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.box h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.box p {
  padding: 0 25px 15px 25px;
  text-align: justify;
  line-height: 25px;
}

.box button {
  text-align: center;
  align-items: center;
  line-height: 25px;
}

.elementsCenter {
  align-items: center;
  text-align: center;
}

/*This class is to set more details properties for the buttons that have the class greenButton */
.greenButton {
  background-color: var(--green);
  color: var(--white);
}
/*Added the style for the 'hover' effect for the greenButton */
.greenButton:hover {
  background-color: var(--darkgreen);
}

/*This class is to set more details properties for the buttons that have the class purpleButton */
.purpleButton {
  background-color: var(--purple);
  color: var(--white);
}
/*Added the style for the 'hover' effect for the purpleButton */
.purpleButton:hover {
  background-color: var(--darkpurple);
}

/*This class is to set more details properties for the buttons that have the class questions */
.questions {
  cursor: pointer;
}

/*Added the style for the 'hover' effect for the questions class */
.questions:hover {
  cursor: pointer;
  background-color: var(--gray-dark);
  color: var(--white);
}

/* This class is for the ul element  */
.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--gray-light);
  border-radius: 0.5em;
}
/* This css what it does that on the first element of the list remove the border top */
.list-group li:first-child {
  border-top: 0;
}
/* This class if for the li elements of the score list  */
.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 0.5em;
}
/*  This class is for  the score on the "View Scores" what it does to close the number on a circule  */
.badge {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  font-size: 80%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: 0.25em;
  text-align: center;
}
.answerResult {
  padding-left: 20px;
  border-top: 1px solid var(--gray-light);
  font-size: 20px;
}
.good {
  color: var(--darkgreen);
}

.wrong {
  color: var(--primary);
}
#elementList {
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
